<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/img/Avatar.png">
    <title>{% if page.title %}{{ page.title | escape }} · {% endif %}{{ site.title | default: site.name }}</title>

    <!-- Usa la ubicación real del CSS -->
    <link rel="stylesheet" href="{{ '/assets/css/theme.css' | relative_url }}">
  </head>
  <body>
    {% if page.header_kind == "home" %}
      {% include header_home.html %}
    {% endif %}
    {{ content }}
  </body>
</html>
